<form name="addForm" ng-submit="$ctrl.onSubmit($event)">
    <label class="add-form-label">
        Item name
        <input class="add-form-input" required name="name" ng-model="$ctrl.item.itemName"/>
    </label>
    <label class="add-form-label">
        Item description
        <textarea class="add-form-textarea" name="description" required ng-model="$ctrl.item.itemDescription"></textarea>
    </label>
    <button type="submit">Отправить</button>
</form>