@import url(../../css/core/global.less);

.row {
    margin: 0;
}

.form-container,
.select-text-container,
.list-item-container {
    padding: 10px 20px
}

.list-item {
    cursor: pointer;
}

.list-item.selected {
    font-weight: bold;
}

.error {
    color: red;
}