<div class="container">
    <div class="row">
        <div class="col-md-6 form-container">
            <add-form></add-form>
            <div class="error">{{$ctrl.errorMessage}}</div>
        </div>
        <div class="col-md-6 select-text-container">
            <div>{{$ctrl.selectedItem.description}}</div>
        </div>
    </div>
    <div class="list-item-container">
        <div class="list-item"
        ng-repeat="(key, value) in $ctrl.listItems"  
        ng-click="$ctrl.onSelectItem(key, value)"
        ng-class="{'selected': $ctrl.selectedItem.id == key}"
        >
            {{value.itemName}}
        </div>
    </div>
</div>